In [2]:
import json
import pandas as pd

with open("match_stats.json", "r") as f:
    x = json.load(f)    
df = pd.DataFrame.from_dict(pd.json_normalize(x), orient='columns')
df.loc[df['match_date'] == '2018-08-10'] #первый матч сезона 2018/2019 был на 1454 строчке

df_var = df[:1454]
df_var

,match_date,match_week,home.team,home.score,home.xG,home.possession,home.passing_accuracy,home.shots_on_target,home.yellow_cards_count,home.red_cards_count,...,guest.crosses,guest.touches,guest.tackles,guest.interceptions,guest.aerials_won,guest.clearances,guest.offsides,guest.goal_kicks,guest.throw_ins,guest.long_balls
0,2022-08-05,1,Crystal Palace,0,1.2,0.56,0.84,0.20,1,0,...,11,599.0,29.0,9,14.0,24.0,2.0,2.0,14.0,59.0
1,2022-08-06,1,Fulham,2,1.2,0.33,0.60,0.25,2,0,...,18,784.0,11.0,10,13.0,16.0,4.0,5.0,35.0,94.0
2,2022-08-06,1,Tottenham Hotspur,4,1.5,0.58,0.83,0.44,3,0,...,18,554.0,14.0,13,11.0,21.0,0.0,4.0,14.0,61.0
3,2022-08-06,1,Newcastle United,2,1.7,0.61,0.79,0.39,0,0,...,9,475.0,15.0,10,16.0,37.0,0.0,12.0,26.0,70.0
4,2022-08-06,1,Leeds United,2,0.8,0.40,0.74,0.33,2,0,...,20,720.0,16.0,14,7.0,17.0,1.0,9.0,23.0,72.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1449,2020-07-26,38,Manchester City,5,3.2,0.73,0.90,0.29,1,0,...,3,390.0,14.0,14,7.0,27.0,2.0,23.0,13.0,67.0
1450,2020-07-26,38,Chelsea,2,1.4,0.62,0.82,0.27,2,0,...,9,523.0,22.0,8,24.0,7.0,1.0,7.0,29.0,78.0
1451,2020-07-26,38,West Ham United,1,0.9,0.62,0.81,0.10,2,0,...,14,415.0,13.0,10,14.0,12.0,1.0,8.0,29.0,79.0
1452,2020-07-26,38,Newcastle United,1,0.1,0.26,0.65,0.67,1,0,...,17,949.0,12.0,8,17.0,10.0,1.0,2.0,30.0,74.0
1453,2020-07-26,38,Burnley,1,1.7,0.55,0.72,0.08,3,0,...,19,482.0,6.0,7,35.0,30.0,2.0,12.0,18.0,83.0

In [3]:
df_no_var = df[1454:]
df_no_var

,match_date,match_week,home.team,home.score,home.xG,home.possession,home.passing_accuracy,home.shots_on_target,home.yellow_cards_count,home.red_cards_count,...,guest.crosses,guest.touches,guest.tackles,guest.interceptions,guest.aerials_won,guest.clearances,guest.offsides,guest.goal_kicks,guest.throw_ins,guest.long_balls
1454,2018-08-10,1,Manchester United,2,1.5,0.47,0.80,0.71,2,0,...,27,702.0,14.0,12,13.0,14.0,2.0,4.0,18.0,65.0
1455,2018-08-11,1,Newcastle United,1,1.0,0.42,0.68,0.13,2,0,...,17,776.0,27.0,10,21.0,43.0,0.0,10.0,24.0,80.0
1456,2018-08-11,1,Fulham,0,0.7,0.65,0.85,0.40,1,0,...,12,514.0,22.0,14,20.0,32.0,3.0,8.0,25.0,67.0
1457,2018-08-11,1,Bournemouth,2,2.2,0.63,0.79,0.27,1,0,...,18,456.0,22.0,15,31.0,31.0,2.0,10.0,20.0,98.0
1458,2018-08-11,1,Watford,2,1.2,0.53,0.73,0.26,2,0,...,15,537.0,16.0,17,24.0,26.0,3.0,10.0,19.0,88.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2969,2016-05-15,38,Chelsea,1,NaN,0.54,0.24,0.80,0,0,...,19,NaN,NaN,21,NaN,NaN,0.0,NaN,NaN,NaN
2970,2016-05-15,38,Everton,3,NaN,0.45,0.53,1.00,0,0,...,35,NaN,NaN,13,NaN,NaN,1.0,NaN,NaN,NaN
2971,2016-05-15,38,Arsenal,4,NaN,0.60,0.44,1.00,0,0,...,12,NaN,NaN,20,NaN,NaN,NaN,NaN,NaN,NaN
2972,2016-05-15,38,Stoke City,2,NaN,0.47,0.57,0.62,3,0,...,22,NaN,NaN,6,NaN,NaN,2.0,NaN,NaN,NaN
2973,2016-05-17,38,Manchester United,3,NaN,0.66,0.42,0.00,1,0,...,4,NaN,NaN,30,NaN,NaN,2.0,NaN,NaN,NaN

Как мы знаем, в АПЛ система VAR была внедрена в работу с сезона 2019/2020. Разделим наш датафрейм на две части: до сезона 2019/2020 без VAR и после него, когда VAR начал помогать арбитрам

In [9]:
df_var[['home.score', 'guest.score']]

a = df_var['home.score']
b = df_var['guest.score']

total_data = a + b

total_data

0       2
1       4
2       5
3       2
4       3
       ..
1449    5
1450    2
1451    2
1452    4
1453    3
Length: 1454, dtype: int64

In [30]:
df_no_var[['home.score', 'guest.score']].sum().sum() / len(df_no_var)

2.75

Проверим гипотезу о том, что среднее количество забитых голов до var такое же, как и после введения var

In [11]:
import scipy.stats as sts

sts.ttest_1samp(a=total_data, popmean=2.75)

Ttest_1sampResult(statistic=0.11823707311950689, pvalue=0.905896158576827)

Мы видим, что pvalue равно примерно 0.9, значит наша гипотеза о том, что среднее количество забитых голов до и после введения var не отвергается на любом разумном уровне значимости

Как мы знаем, var рассматривает только значимые эпизоды матча, которые непосредственно влияют на игру: голы, возможная красная карточка какому-либо игроку, или назначать/не назначать пенальти. Гипотезу с голами мы уже проверили, проверим и с красными карточками

In [18]:
df_var[['home.red_cards_count','guest.red_cards_count']]

c = df_var['home.score']
d = df_var['guest.score']

red_cards_data = a + b
red_cards_data

0       2
1       4
2       5
3       2
4       3
       ..
1449    5
1450    2
1451    2
1452    4
1453    3
Length: 1454, dtype: int64

In [19]:
red_cards_before = df_no_var[['home.red_cards_count','guest.red_cards_count']].sum().sum() / len(df_no_var)
red_cards_before

0.07039473684210526

In [22]:
sts.ttest_1samp(a=red_cards_data, popmean=red_cards_before)

Ttest_1sampResult(statistic=61.540757834355745, pvalue=0.0)

p-value в этой ситуации оказался равен 0, значит можно сделать вывод, что гипотеза о равенстве среднего количества красных карточек до введения var и после отвергается на любом разумном уровне значимости